.body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #11CF0B;
}

#img{
 margin-left: 32%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {

  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.cont{
	/*background: grey;*/
	width: 75%;
	margin: auto;
	margin-top: 28px;
}
.cont form{
	/*background: green;*/
	border: 1px solid #002EFF;
	border-radius: 12px;
	padding: 10px;	
	width: 75%;
	margin: auto;
}

.cont form .form-group input[type="text"]{
	width: 70%;
	margin: auto;
}

.cont form .form-group label{
	margin-left: 16%;
}

.comt div img{
	margin-left: 40%;
}

#tittle{
	color:white;
	font-size: 130px;
}

#ptittle{
	color:white;
	font-size: 15px;
}







