.body{
	background-color: #11CF0B;
}

#btnGroup {
   position:fixed;
	width:100%;
	height:20%;
	border:1px solid #000;
	left:0%;
	top:85%;
	margin-left:0px;
	margin-top:0px;
	
	background-color: #095B07;
}

#tableBotons{
	margin-top:7%;
	margin-left: 90%;
	cellspacing: 20%;
	cellpadding: 20%; 
}

#tittle{
	color:white;
	font-size: 130px;
	letter-spacing:12px;
}

#ptittle{
	color:white;
	font-size: 15px;
}

#titleDiv{
	background-color: #095B07;
}

.table{
	background-color: white;
}
